*,*::before,*::after {
    padding:0;
    margin:0;
    box-sizing:border-box;
}
html {
    font-size:62.5%;
}
body {
    font-family:Baskervville,serif;
    color:#3814AF;
    background-color:rgb(248, 229, 140);
}
h1 {
    font-family: Anton,sans-serif;
}
#time {
    height:100%;
}
